
@charset "utf-8";

 html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: #fff; /* HTML全体とbodyを灰色に */
	/*border-top: 4px solid #008000;*/
}



   body {
	
	border-top: 4px solid #008000;
	margin: auto;
	padding: 0;
   }

	#news_ifr {		
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 2000px; /*ｐｃではiframeの高さ指定が必要だが、スマートフォンは自動で行うので設定の必要がない*/
	  width: 100%;	
	  z-index: 4;
	}

	#news_sns_ifr {		
		position: absolute;
		top: 0;
		left: 0;
		height: 3000px; /*4列３列２列１列で作る。*/
		width: 100%;	
		z-index: 4;
	  }


	#news_ifr2 {		
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 2000px; /*ｐｃではiframeの高さ指定が必要だが、スマートフォンは自動で行うので設定の必要がない*/
	  width: 100%;	
	  z-index: 4;
	}

	#ifr2 {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 380px;
	  width: 100%;	
	  z-index: 4;
	}

	#ifr3 {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 180px;
	  width: 100%;	
	  z-index: 5;
	}


	.footer-container {
		position:  relative;
		bottom: 0;
		left: 0;
		width: 100%;
	}		

	.news-container {
		position:  relative;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 0px;
	}	

	.news_sns-container {
		position:  relative;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 0px;
	}		


	.news-container2 {
		position:  relative;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 0px;
	}	



	.header {
		position: relative;
		height: 5px;
		width: 100%;

	}

	.header .img1 {
		position: relative;
		height: 60px;
		width: 50px; 
		margin-left: 30px;
		top: 5px;
	}		

	.header .img2 {
		position: relative;
		height: auto;
		width: 250px; 
		margin-left: 5px;
		top: 0px;
	}


	.header .img11 {
		position:absolute;
		height: 47px;
		width: auto; 
		top: 22px;
		right: 200px;
		opacity: 0.9;
	}			

	.header .img12 {
		position:absolute;
		height: 50px;
		width: auto; 
		top: 18px;
		right: 270px;
		opacity: 1.0;
	}	

	/*
	.header .img13 {
		position:absolute;
		height: 60px;
		width: 70; 
		top: 10px;
		right: 340px;
		opacity: 1.0;
	}			
	*/



	.header .img3 { /*t*/
		position:absolute;
		height: 25px;
		width: auto; 
		top: 38px;
		right: 130px;
		opacity: 0.5;
	}

	.header .img4 {/*f*/
		position:absolute;
		height: 25px;
		width: auto; 
		top: 35px;
		right: 110px; 
		opacity: 0.5;
	}


	.header .img5 {/*I*/
		position:absolute;
		height: 25px;
		width: auto; 
		top: 37px;
		right: 80px; 
		opacity: 0.6;
	}			

	.header .img6 {/*Y*/
		position:absolute;
		height: 25px;
		width: auto; 
		top: 37px;
		right: 40px; 
		opacity: 0.5;
	}

	.header .img7 {/*Tiktok*/
		position:absolute;
		height: 25px;
		width: auto; 
		top: 35px;
		right: 10px; 
		opacity: 0.5;
	}		




	  .header a:hover .img3 {
		opacity: 0.7;
	  }

	  .header a:hover .img4 {
		opacity: 0.7;
	  }		

	  .header a:hover .img5 {
		opacity: 0.9;
	  }		

	  .header a:hover .img6 {
		opacity: 0.7;
	  }

	  .header a:hover .img7 {
		opacity: 0.7;
	  }	

	  .header a:hover .img11 {
		opacity: 0.5;
	  }			

	  .header a:hover .img12 {
		opacity: 0.6;
	  }	


	.video-container {
		width: 100%;
		height: auto;
		position: relative;
		top: 75px;
		margin-bottom: 65px;
		transition: top 0.3s ease;

	}		

	.video-container video {
		width: 100%;
		height: auto;
	}



	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		/*background-color: #CBC9C9;*/
		background-color: #1f6852;
		text-align: center;
		color: #FFF; /* 文字色を白に設定 */
		margin-bottom: 30px; /*CONTENTSの位置を下げる*/
	}

	li {

		display: inline-block;
		/*border-right: 15px solid #ffffff; /* 白い境界線を追加 */

	}

	li:last-child {
		border-right: none; /* 最後のリスト要素には境界線を追加しない */
	}

	li a {
		font-size: 12px;
		display: block;
		/*color: #3041F9;*/
		color: #ffffff;
		text-align: center;
		padding: 12px 10px 7px 10px; /*項目の間隔*/
		text-decoration: none;

		/*text-decoration: underline;*/

	}

	li a:hover {
		/*background-color:#DFDEDE;*/
		background-color:#2d866b;
		/*text-decoration: underline;*/
	}



	/*この位置が@mediaより上にないと@mediaが効かない*/
	#sec01 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin:  auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;


	}


	.infobox{
		overflow-y: scroll;   /* 縦方向のスクロールのみ許可 */
		overflow-x: hidden;   /* 横方向のスクロールを非表示にする */
		table-layout : fixed;
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 30px);  /*両サイドに50pxの隙間を作る */
		height: 410px;
		margin-top: -10px;
		margin-left: 20px;
		scrollbar-width: thin; /* スクロールバーの幅 */
    	scrollbar-color: #04b467 transparent; /* スクロールバーの色 */
		margin-bottom: 50px;
		/* line-height: 1.2; */
		

	}


	.infobox_sns{
		overflow-y: scroll;   /* 縦方向のスクロールのみ許可 */
		overflow-x: hidden;   /* 横方向のスクロールを非表示にする */
		table-layout : fixed;
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 30px);  /*両サイドに50pxの隙間を作る */
		height: 960px;
		margin-top: -10px;
		margin-left: 20px;
		scrollbar-width: thin; /* スクロールバーの幅 */
    	scrollbar-color: #04b467 transparent; /* スクロールバーの色 */
		margin-bottom: 50px;
		/* line-height: 1.2; */
		

	}

	/* Chrome, SafariなどのWebkitブラウザ用 */
	.infobox::-webkit-scrollbar {
		width: 10px; /* スクロールバーの幅 */
	}

	.infobox::-webkit-scrollbar-thumb {
		background-color: #04b467; /* スクロールバーの色 */
	}

	.infobox::-webkit-scrollbar-track {
		background-color: #a0fad3; /* スクロールバーの背景色 */
	}


	.infobox2{
		overflow-y: scroll;   /* 縦方向のスクロールのみ許可 */
		overflow-x: hidden;   /* 横方向のスクロールを非表示にする */
		table-layout : fixed;
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 30px);  /*両サイドに50pxの隙間を作る */
		height: 307px;
		margin-top: -10px;
		margin-left: 20px;
		scrollbar-width: thin; /* スクロールバーの幅 */
    	scrollbar-color: #04b467 transparent; /* スクロールバーの色 */
		/* line-height: 1.2; */
		

	}

	/* Chrome, SafariなどのWebkitブラウザ用 */
	.infobox2::-webkit-scrollbar {
		width: 10px; /* スクロールバーの幅 */
	}

	.infobox2::-webkit-scrollbar-thumb {
		background-color: #04b467; /* スクロールバーの色 */
	}

	.infobox2::-webkit-scrollbar-track {
		background-color: #a0fad3; /* スクロールバーの背景色 */
	}





	#sec02 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;
		height: 500px;
	}

	#sec025 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;
		height: 1150px;

	}


	#sec026 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;
		height: 600px;
		display: none; /*★★★★★★　広商デパートSNS を非表示にする*/
	}	

	#sec03 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;


	}

	#sec04 {
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;


	}







	#sec014 {
		position: relative;
		overflow: hidden; /*sec015からはみ出した写真の部分は消える。*/
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 30px 0px 30px; /*sec01内の余白*/
		margin-bottom: 40px;
		height: 330px;
	}


	#sec015 {
		overflow: hidden; /*sec015からはみ出した写真の部分は消える。*/
		max-width: 1000px;  /* 最大幅を900pxに設定 */
		width: calc(100% - 100px);  /*両サイドに50pxの隙間を作る */
		margin: 0 auto;  /* 画面の中央に配置 */
		border: 0px solid #000; 
		/*background-color: rgba(0, 200, 0, 0.1); /* 内側の明度を落とす（黒を10%の透明度で重ねる） */
		padding: 0px 40px 0px 40px; /*sec01内の余白。流れる画像の余白*/
		margin-bottom: 40px;
		height: 330px;
	}






	.link-container {
		display: inline-block;
		text-align: center;
		font-size: 13px;  /* 希望のフォントサイズに変更してください */
		margin: 0 10px;  /* 調整するかもしれません */
		color: #444;
		margin-left: 10px;



	}

	.no-underline {
		position: relative;
		bottom: 4px; 
		color: #298b56;
	}


	.link-subtext {
		display: block;
		font-size: 10px;  /* 希望のフォントサイズに変更してください */
		color: #298b56;  /* 希望の色に変更してください */
	}

	.link-subtext:hover {

		color: #5fcf92;  /* 希望の色に変更してください */
	}

	.no-underline {
		text-decoration: none;
		color: #444;
	}

	.no-underline:visited {
		color: #298b56;
	}

	.no-underline:hover {
		color: #5fcf92;
	}

	.no-underline:active {
		color:#298b56;
	}

	.video-container {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	#myVideo {
		width: 100%;
		height: auto;
	}

	#overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}		


	.contents {
		text-align: left;
		font-size: 20px;
		color: #39ae8b;
		font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
		font-style: italic;
		/*border-bottom: 1px solid #ddd;*/
		padding: 20px 0px 20px  ;
		margin-left: 20px;
		margin-right: 20px;

	}

	.contents_hiro {
		text-align: left;
		font-size: 20px;
		color: #39ae8b;
		font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
		font-style: italic;
		/*border-bottom: 1px solid #ddd;*/
		padding: 20px 0px 20px  ;
		margin-left: 20px;
		margin-right: 20px;

	}
	
	.topics-title {
		margin-right: 50px;
	}

	.all-container-link {
		text-decoration: none; /* リンクのアンダーラインを消す */
	}

	.all-container-button {
		position: absolute; 
		right: 50px;
		display: inline-block;
		padding: 3px 2px 2px 10px;
		color: white; /* ボタンの文字色を白色に設定 */
		background-color: green; /* ボタンの背景色を緑に設定 */
		border-radius: 5px; /* ボタンの角を丸くする */
		font-style: normal; /* ボタンの文字をイタリックにしない */
		font-size: 14px;
		width: 80px;
		background-color: rgba(0, 100, 0, 0.7);
		transition: background-color 0.3s ease; 
	}

	.all-container-button:hover {
		background-color: rgba(0, 100, 0, 0.5); /* ホバー時の背景色を変更 */
	}
	.contents::after {
		content: "";
		display: block;
		/*margin: auto; */
		height: 1px;
		width: 100%;  
		background: #3caaff;
		margin-bottom: 0px;
	}

	.contents::before {
	  content: "";
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  margin-right: 5px;
	  background: url(../images/kousyou7.png) no-repeat;
	  background-size: contain;
	  position: relative;
	  bottom: -8px;
	}


	.contents_hiro::after {
		content: "";
		display: block;
		/*margin: auto; */
		height: 1px;
		width: 100%;  
		background: #3caaff;
		margin-bottom: 0px;
	}

	.contents_hiro::before {
	  content: "";
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  margin-right: 5px;
	  background: url(../images/panda_sns2.png) no-repeat;
	  background-size: contain;
	  position: relative;
	  bottom: -8px;
	}
	.cont-container {
		text-align: center;
		max-width: 1000px; /*コンテンツを３列以上にしないため*/
		margin: auto; /*これがないと真ん中に来ない*/
	}
	.cont-item {
		display: inline-block;
		margin: 8px;

		width: 280px;  
		height: 310px;
		overflow: hidden; 
		background-color: #fff; 
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* X-offset, Y-offset, blur, spread, color */
		margin-bottom: 30px;
		transition: opacity 0.3s ease;  /* 透明度の変更に0.3秒かける */

	}

	.cont-item:hover {
		opacity: 0.7; /* ホバー時の透明度を設定 */
	}		

	a, a:visited {
		text-decoration: none;
		color: inherit; 
	}		

	.sns-img {
		width: 100%;
		max-width: 250px;
		display: block;
		margin: 0 auto; /* 画像を中央に配置 */ 
		
	}
	.custom-img {
		width: 100%;
		display: block;
		margin: 0 auto; /* 画像を中央に配置 */ 
		
	}





	.cont-text {
		display: block;
		text-align: center;

		margin-top:10px;
		color: #3f64cc;
		/*text-shadow: 1px 1px 3px #000000;*/
		/*font-family:   "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";*/
		/*font-family: "Osaka-mono", "MS Gothic", "monospace";*/
		/*font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";*/
		/*font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";*/
		/*font-family: Arial, Helvetica, "sans-serif";*/
		/*font-family: "Osaka-mono", "MS Gothic", "monospace";*/
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 1px;


	}
	.cont-text2 {
		display: block;
		text-align: left;
		height: 50px;

		padding: 5px 15px;
		color: #464545;
		/*text-shadow: 1px 1px 3px #000000;*/
		/*font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Mincho", serif;*/ 
		/*font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
		font-size: 13px;

	}		


    /* ローディング画面のスタイル */
    .loading {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.8);
      z-index: 9999;
      display: none;
      align-items: center;
      justify-content: center;
    }

    .loading-message {
      font-size: 2em;
      font-weight: bold;
    }



	/*スライド関係*/


	#slider {
		/*width: 1000px; /**★スライドの帯の長さ***/
		white-space: nowrap;
		overflow: hidden;
		font-size: 0;/*これを指定しないと、一週目と２周目の画像の間隔が変わってしまう*/
	}

	.slide {
		position: relative; 
		display: inline-block;
		margin-right: 5px; /*スライドの間隔*/
	}

	.slide:last-child {
		margin-right: 10;
	}


	.label-hirodepa,
	.label-osirase,
	.label-gyouzi,
	.label-syougaku,
	.label-tayori,
	.label-bukatu {
		position: absolute;
		top: 0;
		left: 80px;
		/*left: 0;*/
		width: 80px;
		height: 25px;  /* 高さを適切な値に設定 */
		line-height: 27px;  /* 文字の高さ */
		color: white; /* テキストの色を白色に設定 */
		text-align: center; /* テキストを水平方向に中央寄せ */
		font-size: 14px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影を追加 */
	}



	

	.label-osirase { /*おしらせ*/
		/*background-color: #35846c;*/
		background-color: rgba(53,132,108, 0.9);
	}
	.label-osirase::before { 
		content: "おしらせ";
	}

	.label-bukatu { /*部 活 動*/
		background-color: rgba(152, 67, 160, 0.9);
		/*background-color: #9843a0;*/
	}
	.label-bukatu::before { 
		content: " 部 活 動 ";
	}

	.label-gyouzi { /*学校行事*/
		/*background-color: #dc4848;*/
		background-color: rgba(220, 103, 76, 0.9);
	}
	.label-gyouzi::before { 
		content: "学校行事";
	}

	.label-syougaku { /*奨 学 金*/
		background-color: rgba(165, 139, 35, 0.9);
	}
	.label-syougaku::before { 
		content: " 奨 学 金 ";
	}

	.label-tayori { /*たより*/
		background-color: rgba(142, 129, 240, 0.9);
	}
	.label-tayori::before { 
		content: " た よ り ";
	}

	.label-hirodepa { /*広デパ*/
		background-color: rgba(114, 120, 252, 0.9);
	}
	.label-hirodepa::before { 
		content: "広商ﾃﾞﾊﾟｰﾄ";
	}





	.date-label{
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 25px;  /* 高さを適切な値に設定 */
		line-height: 27px;  /* 文字の高さ */
		color: white; /* テキストの色を白色に設定 */
		text-align: center; /* テキストを水平方向に中央寄せ */
		font-size: 14px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影を追加 */
		background-color: rgba(124, 100, 4, 1);

	}

	.slide:hover .date-label{		
		opacity: 0.7;  /* スライドとラベルの透明度を0.7に設定 */
	}



	.slide-label, .slide-label2 {
		position: absolute;
		bottom: 0;
		width: calc(100% - 20px);
		height: 45px;
		line-height: 1.2;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding: 0 10px;
		background-color: rgba(0, 100, 0, 0.7);
		color: white;
		text-align: center;
	}

	.slide-label { /*1行の時*/
		font-size: 16px;
	}

	.slide-label2 { /*2行の時 文字を小さくする*/
		font-size: 14px;
	}

	.slide img {
		width: auto;
		height: 200px;  /* 画像の高さを200pxに設定 */
		object-fit: cover;  /* 画像のアスペクト比を保ちつつ、指定した高さに合わせて画像をカバーする */
		transition: opacity 0.3s ease;  /* 透明度の変更に0.3秒かける */
	}

	.slide img:hover {
		opacity: 0.7;  /* 画像の透明度を0.7に設定 */
	}


	.slide:hover img,
	.slide:hover .label-hirodepa,
	.slide:hover .label-bukatu,
	.slide:hover .label-osirase,
	.slide:hover .label-gyouzi,
	.slide:hover .label-syougaku,
	.slide:hover .label-tayori,
	.slide:hover .slide-label,
	.slide:hover .slide-label2{		
		opacity: 0.7;  /* スライドとラベルの透明度を0.7に設定 */
	}


	.marquee {
		position: relative;
		animation: scroll-left 300s linear infinite; /*★スライドの速度 一周にかかる時間★  元は20s*/
	}

	@keyframes scroll-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}

	@media screen and (max-width: 700px) {

		.cont-item {
			width: 290px;  
			height: 310px;
		}		


		.custom-img {
			width: 100% !important; /* 強制的に箱いっぱいに画像幅を広げる。 */
			height: auto !important; /* アスペクト比を維持 */
		}		


		.cont-text2 {
			padding: 5px 10px;
			font-size: 13px;
			line-height: 1.4; 
			font-size: 14px;
		}				
		
		.cont-text {
			margin-top:10px;
			margin-bottom: 1px;
		}
			
		

		#ifr2 {
		  height: 1200px;
		}		
		

		
		.infobox {
			padding-top: 0px;  /*【重要】項目の間隔を詰めたとき、項目全体を下に落として、一番上の項目が半分消えるのを防ぐ */
			height: 470px;
		}

		.infobox_sns {
			padding-top: 0px;  /*【重要】項目の間隔を詰めたとき、項目全体を下に落として、一番上の項目が半分消えるのを防ぐ */
			height: 570px;
		}		

		
		.infobox .news {
			border-bottom: none;  /* 線を削除 */
			text-align: left;  /* 文字を左寄せにする */
			margin-top: -10px; /*文字の高さ*/
			line-height: 1.3; /* 行の高さを変える。行間の高さを調整 */
			padding: 0px 0px 0px 0px;
		}		

		
		.infobox .news::after {

			bottom: 10px;  /* 線の位置を調整 */
			margin:  auto;  /* 左右中央寄せにする */
			left: 0px;  /* 左側からの位置を10%に設定 */
			/*margin-bottom: 0px;*/
			bottom: 10px;  /* 線の高さ位置を調整 */

		}		
		
	
		.infobox .news .date {
			margin-left: 0px;
			color: #1d1d1e;
			font-weight: bold;
			font-size: 14px;


		}		

		.infobox .news .osirase {  /*おしらせ*/
			padding: 2px 5px 2px 5px;
			margin-left: 0px;
			font-size: 14px;
		}

		.infobox .news .bukatu { /*部 活 動*/
			padding: 2px 5px 2px 5px;
			margin-left: 0px;
		}

		.infobox .news .gyouzi { /*学校行事*/
			padding: 2px 5px 2px 5px;
			margin-left: 0px;
		}

		.infobox .news .syougaku { /*奨 学 金*/
			padding: 2px 5px 2px 5px;
			margin-left: 0px;
		}


		.infobox .news .naiyou {

			color: #000;
			font-size: 14px;
			margin-left: 5px;

		}

		
		
		#sec01 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
		}			
		
		
		#sec02 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
			height: 570px;
		}

		#sec025 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
			height: 91vh; /*バックの緑色の範囲*/
		}	

		#sec026 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
			/*height: 70vh; /*バックの緑色の範囲*/
			min-height: 500px;
		}	



		#sec03 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
		}	
		
		#sec04 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px;
		}		
		

		#sec014 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px; /*sec01内の余白*/
		}

		#sec015 {
			width: calc(100% - 20px);  /*両サイドに50pxの隙間を作る */
			padding: 0px 0px 0px 0px; /*sec01内の余白。流れる画像の余白*/
		}

		
		li a {
			font-size: 12px;
			padding: 14px 5px 5px 0px; /*項目の間隔*/
		}

		.header .img1 {
			position: relative;
			height: 55px;
			width: 45px; 
			margin-left: 30px;
			top: 8px;
			margin-left: 0px;
		}		

		.header .img2 {
			position: relative;
			height: auto;
			width: 50vw; 
			margin-left: -5px;
			margin-top: 30px;
			top: 0px;
		}


		.header .img3 {/*Tiktok*/
			display: none;
		}	
		.header .img4 {/*Tiktok*/
			display: none;
		}	
		.header .img5 {/*Tiktok*/
			display: none;
		}	
		.header .img6 {/*Tiktok*/
			display: none;
		}	
		.header .img7 {/*Tiktok*/
			display: none;
		}	


		.header .img11 {
			right: 10px;
		}			

		.header .img12 {
			right: 70px;
		}				


		
	}



	@media (max-width: 950px) {
		.no-underline {
			display: none;
		}
	}


	/*コンテンツが下から上へのアニメーション*/
	/*slide-up,slide-up2,slide-up3のアップにかかる時間をずらす。*/
	.slide-up {
		opacity: 0;
		transform: translateY(40px);
		transition: all 0.6s ease-out; /* アニメーションにかかる時間の長さt*/
	}

	.slide-up.show {
		opacity: 1;
		transform: translateY(0);
	}

	/*コンテンツが下から上へのアニメーション*/
	.slide-up2 {
		opacity: 0;
		transform: translateY(40px);
		transition: all 1.2s ease-out; /* アニメーションにかかる時間の長さt*/
	}

	.slide-up2.show {
		opacity: 1;
		transform: translateY(0);
	}


	.slide-up3 {
		opacity: 0;
		transform: translateY(40px);
		transition: all 1.9s ease-out; /* アニメーションにかかる時間の長さt*/
	}

	.slide-up3.show {
		opacity: 1;
		transform: translateY(0);
	}


	/*★---下の動画----*/
	#bg-video {
		position: relative;
		max-width: 1000px;
		/*border: 15px solid #e5f9e5;*/

		top: -10px;
		width: 100%;
		left: 50%;              /* 親要素の中央に配置する */
		transform: translateX(-50%); /* これにより動画が中央になります */
		margin-bottom: 20px;
	}